includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    level: 6
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - vendor
    bootstrapFiles:
        - vendor/autoload.php
